<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iris</title>
	<link rel="icon" type="image/x-icon" href="./static/images/favicon.ico">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	
</head>
<body>
	<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom text-white box-shadow mb-3">
            <div class="container-fluid" style="justify-content: center;">
                <a class="navbar-brand text-white" style="white-space: normal!important;" href="#">
                    <img src="../static/images/logo.png" class="logo" alt="logo" data-toggle="tooltip" data-placement="top" title="logo" width="50">
                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Iris</a>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
               <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
			<div class="card md-5">
				<div class="card-body">
					<h1 class="mb-5">Populações dos Municípios</h1>
					<select class="col-md-4 select-mun" id="select-mun"></select>
					<div class="frame-mun"></div>
				</div>
			</div>
			<br/>
			<div class="card md-5">
				<div class="card-body">
					<h1 class="mb-5">Procedimentos por Municípios</h1>
					<select class="col-md-4 select-mun select-mun-proc" id="select-mun-proc"></select>
					<select class="col-md-4 select-proc" id="select-proc"></select>
					<div class="frame-proc"></div>
				</div>
			</div>	
			
			<!--<object data="../static/files/frame_1.html"></object>
			
			<form action="/calculate" method="post">
				<div class="form-row">
					<div class="col-md-4 mb-3">
						<label for="value1">value1</label>
						<input type="text" class="form-control" id="value1" name="value1" placeholder="value1">
					</div>
					
					<div class="col-md-4 mb-3">
						<label for="value2">value2</label>
						<input type="text" class="form-control" id="value2" name="value2" placeholder="value2">
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>-->
        </main>
    </div>

    <footer class="border-top footer fixed-bottom text-muted">
        <div class="container">
            &copy; 2023 - Iris
        </div>
    </footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script>
		$(document).ready(function(){
			
			$('.select-mun').select2({
				placeholder: 'Select an option',
				width: 'resolve',
				ajax: {
					url: '/mun',
					data: function (params) {
						var query = {
							search: params.term
						}
						return query;
					},
					dataType: 'json',
					cache: true,
					processResults: function (data) {
					  return {
						results: data.map(c => ({ id: c.codigo, text: c.codigo + " - " + c.nome }))
					  };
					}
				}
			});
			
			$('.select-proc').select2({
				placeholder: 'Select an option',
				width: 'resolve',
				ajax: {
					url: '/proc',
					data: function (params) {
						var query = {
							mun: $('.select-mun-proc').val(),
							search: params.term
						}
						return query;
					},
					dataType: 'json',
					cache: true,
					processResults: function (data) {
					  return {
						results: data.map(c => ({ id: c.codigo_procedimento, text: c.codigo_procedimento + " - " + c.procedimento }))
					  };
					}
				}
			});
			
			$("#select-mun").change(function(option){
				$.get("/pop/" + $("#select-mun").val(), function(data){
					$(".frame-mun").html(data);
				});
			});
			
			$("#select-mun-proc").change(function(option){
				$("#select-proc").val(null).trigger('change');
			});
			
			$("#select-proc").change(function(option){
				if($(this).val() == null)
					return;
			
				$.get("/procmun?mun=" + $("#select-mun-proc").val() +"&proc=" + $(this).val(), function(data){
					$(".frame-proc").html(data);
				});
			});
		});
	</script>
</body>
</html>