<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iris</title>
	<link rel="icon" type="image/x-icon" href="./static/images/favicon.ico">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	
</head>
<body>
	<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom text-white box-shadow mb-3">
            <div class="container-fluid" style="justify-content: center;">
                <a class="navbar-brand text-white" style="white-space: normal!important;" href="#">
                    <img src="../static/images/logo.png" class="logo" alt="logo" data-toggle="tooltip" data-placement="top" title="logo" width="50">
                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Iris</a>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
               <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
			<object data="../static/files/frame_1.html"></object>
        </main>
    </div>

    <footer class="border-top footer fixed-bottom text-muted">
        <div class="container">
            &copy; 2023 - Iris
        </div>
    </footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	
</body>
</html>